.AboutUs {
    margin: 0;
    background: #ffffff;
    display: flex;
    align-items: center;
}

.contain-about {
    color: black;
    width: 80%;
    margin: auto;
    margin-bottom: 10vmin;
    margin-top: 10vmin;
    padding: 10px;
}

.title-about {
    margin: 0;
    width: fit-content;
    align-content: flex-end !important;
    color: black;
    font-weight: bolder !important;
    font-size: 8vmin;
}

.text-about {
    opacity: 1 !important;
    text-align: center;
    font-size:  3.5vmin;
    color: rgb(29, 28, 28);
    letter-spacing: 0;
}

#color-soft {
    color: #0D2941 !important;
}

.img-container-img {
    display: flex;
    align-items: center;
}

.img-about {
    margin: auto !important;
    width: 400px;
    height: 280px;
}