.signup {
    height: 100vh;
    background: url(../../img/img15.jpg) center top no-repeat;
    background-size: cover;    
}

.background-signup {
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .signup {
        height: auto; 
    }

    .background-signup {
        height: auto;
        padding-top: 15px; 
        padding-bottom: 15px;
    }
}