.navbar {
    position: fixed;
    margin: 0;
    width: 100vw !important;
    height: 10vh !important;
    align-self: top;
    opacity: 0.7;
    z-index:100;
}

.toolbar {
    background-color: rgb(22, 32, 33);
}

.btn_text {
    opacity: 1 !important;
    color: white;
    font-size: 2vw;
    text-align: center !important;
    margin: 0 !important;
    border: 0 !important;
    padding: 0 !important;
    z-index:20;
}
.btn_text_small {
    opacity: 1 !important;
    color: white;
    font-size: 3vh;
    text-align: center !important;
    margin: 0 !important;
    border: 0 !important;
    padding: 0 !important;
    z-index:20;
}

.focus_:hover {
    opacity: 1 !important;
    color: white;
    background-color: rgb(37, 55, 56);
    z-index:201;
}


/* Standard syntax */
@keyframes mymove {
100% {background-color: rgb(37, 55, 56)}
}