.greeting {
    margin: 0;
    height: 90vh;
    background: url(../../img/img8.jpg) no-repeat top center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.contain-greet {
    color: white;
    width: 80%;
    margin: auto;
    padding: 10px;
}

.Logo_Be {
    position: static;
    left: 50vh;
    top: 50vh;
    text-align: center;
    font-size: 20vh;
    margin: 0;
    padding: 0;
}

.Logo_Us {
    position: static;
    left: 50vh;
    top: 40vh;
    font-size: 20vh;
    text-align: center;
    margin: 0;
    padding: 0;
}

.Logo_4 {
    position: static;
    left: 50vh;
    top: 40vh;
    text-align: center;
    font-size: 50vh;
    margin: 0;
    padding: 0;
}