.greeting {
    margin: 0;
    height: 100vh;
    background: url(../../img/img8.jpg) no-repeat bottom center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.contain-greet {
    color: white;
    width: 80%;
    margin: auto;
    padding: 10px;
    margin-top: 20vh;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0px;
    padding: 0px;
}

.grid-container > div {
    text-align: center;
    padding: 0px;
}
.Logo_ {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;

    height: 18vh;
    position: relative;
    margin: 0 !important;
    padding: 0 !important;

}

.Be_ {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    color: #F5F5F5 !important;
    text-align: right;
    font-size: 25vh !important;
    
}

.Us_ {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    color: #F5F5F5 !important;
    text-align: left;
    font-size: 25vh !important;
}

.For_ {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    color: #FFD185 !important;
    position: relative;
    line-height : 45vh !important;
    text-align: center !important;
    font-size: 60vh !important;
}

/*45 vw + 60vh*/
.text-greet {
    text-align: center;
    color: #F5F5F5 !important;
    font-size: 4vh !important;
    margin-top: 10vh; 
    margin: 10px;
    z-index:10;
}

canvas {
    align-self:  center !important;
    justify-self:  center !important;    
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}
.Canvas_Dark {
    background-color: #0D2941;
    opacity: 0.63;
    transform: rotate(45deg);
}
.Canvas_Soft {
    opacity: 0.29;
    transform: rotate(55deg);
    background-color: #FFD185 !important;
}

#Dark {
    --animation: mymove 5s infinite linear;
}

/* Standard syntax */
@keyframes mymove {
    50% {z-index: 2;}
}
