.greeting {
    margin: 0;
    height: 90vh;
    background: url(../../img/img8.jpg) no-repeat bottom center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.contain-greet {
    color: white;
    width: 80%;
    margin: auto;
    padding: 10px;
    margin-top: 10vh;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0px;
    padding: 0px;
}

.grid-container > div {
    text-align: center;
    padding: 0px;
}
.Logo_ {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;

    height: 18vh;
    position: relative;
    margin: 0 !important;
    padding: 0 !important;
    
    color: red;
}

.Be_ {
    text-align: right;
    font-size: 25vh !important;
}

.Us_ {
    text-align: right;
    font-size: 25vh !important;
}

.For_ {
    position: relative;
    line-height : 45vh !important;
    text-align: left !important;
    font-size: 60vh !important;
}

/*45 vw + 60vh*/
.text-greet {
    text-align: center;
    font-size: 4vh !important;
    margin: 10vh;
}