#developersContainer {
    margin: 0 !important;
    width: 100% !important;
    overflow-x: hidden;
}

.img-developer {
    width: 80% !important;
}

.job-title {
    color: gray;
}

.card-developer {
    margin: auto;
    width: 90%;
}