.developersContainer {
    margin: 0;
    height: 100vh;
    background: url(../../img/img6.jpg) no-repeat bottom center;
    background-size: cover;
    padding-left: 10px;
    padding-right: 10px;
}
