.blog {
    margin: 0;
    background: #616161;
    background-size: cover;
    display: flex;
    align-items: center;
}

.blog-container {
    color: white;
    width: 90%;
    margin: auto;
    margin-bottom: 10vmin;
    padding: 10px;
}

.blog-title {
    font-size: 64px;
}

.blog-text {
    font-size: 32px;
    text-align: center;
}

.blog-button {
    text-align: right;
}

.go-blog {
    background: #E13318 !important;
    color: white !important;
    height: 64px;
    width: 20%;
}

@media screen and (max-width: 1000px) {
    
    .title-started {
        font-size: 32px;
    }

    .text-started {
        font-size: 16px;
    }

}