/*h1 {
    text-shadow: 5px 5px blue, 15px 15px red, 25px 25px green, 35px 35px yellow,
     -5px -5px blue, -15px -15px red, -25px -25px green, -35px -35px yellow,
     -5px 5px blue, -15px 15px red, -25px 25px green, -35px 35px yellow,
     5px -5px blue, 15px -15px red, 25px -25px green, 35px -35px yellow;
}*/
.post-button {
    margin-left: 80%;
    border: double 5px;
    background-color: #999;
}

.blog-container {
    color: white;
    width: 80%;
    margin: auto;
    padding: 10px;
}

.blog-title {
    font-size: 64px;
}

.blog-text {
    font-size: 32px;
    text-align: center;
}

.blog-button {
    text-align: right;
}

.go-blog {
    background: #E13318 !important;
    color: white !important;
    height: 64px;
    width: 20%;
}

@media screen and (max-width: 1000px) {
    
}

.blog-button {
    text-align: right;
    padding-right: 5px; 
}

.blog-button- {
    background: #E13318 !important;
    color: white !important;
    height: 64px;
    width: 20%;
}