.Desk_Header {
    position: fixed !important;
    align-self: top;
    z-index: 100;
    
    top: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    
    width: 100vw !important;
    height: 8% !important;
    background: rgba(22, 32, 33, 0.9);
    background:linear-gradient(-197deg, rgba(22, 32, 33, 0.9) 10%,  rgba(13, 41, 65, 1) 100%), rgba(13, 41, 65, 0.9) 70%;
    
    font-size: 3vmin;
    color: white;
}

.header-logo-default {    
    margin: auto !important;
    font-size: 5vmin !important;
}
.header-logo-default:hover {
    color: whitesmoke;
}

.grid-container { 
  align-items: center;
  display: grid;
}

.grid-container-3 { 
    align-items: center;
    display: grid;
  grid-template-columns: auto auto auto;
}

.grid-item {
    color: inherit;
}

.grid-center {
    margin: auto !important;
    text-align: center;
}


#i1 {
    grid-column: 1 / 2; 
}
#i3 {
    grid-column: 3 / 4;
    text-align: center;
}
#i5 {
    grid-column: 5 / 6;
}

.Color-logo-soft{
    color: #ffd185 !important;    
}

.Color-logo-dark{
    color: #0D2941 !important;    
}

.Color-white {
    color: white !important;
}

.Color-dark-grey {
    color: rgb(21, 21, 21) !important;
}

.Width-fit-content {
    width: fit-content !important;
    align-self: center;
}
.Height-fit-content {
    height: fit-content !important;
    align-self: center;
}

.Height-1em {
    height: 1.5rem !important;
    font-size: small;
}

.input-navbar{
    width: 30vw !important;
    margin: auto !important;
}

.Header-item:hover {
    cursor: pointer;
    color: rgba(255, 209, 133, 1);
}